IMAGE_NAME=ghcr.io/guffy12/django-template
IMAGE_TAG=1

DOMAIN=
DJANGO_CSRF_TRUSTED_ORIGINS=

DJANGO_LOG_LEVEL=INFO
DJANGO_SECRET_KEY=secret_key
POSTGRES_PASSWORD=password
VALKEY_PASSWORD=password
GRANIAN_WORKERS=2
