IMAGE_NAME='ghcr.io/guffy12/django-template'
IMAGE_TAG='1'

DJANGO_SECRET_KEY='secret_key'
DJANGO_DOMAIN='example.com'
POSTGRES_PASSWORD='password'
VALKEY_PASSWORD='password'
VALKEY_QUEUE_PASSWORD='password'
EMAIL_URL='consolemail://'
DEFAULT_FROM_EMAIL='hello@localhost'
GRANIAN_WORKERS=2
