IMAGE_NAME=''
IMAGE_TAG=''

DOMAIN=''
DJANGO_CSRF_TRUSTED_ORIGINS=''

DJANGO_SECRET_KEY=''
DJANGO_EMAIL_URL='consolemail://'
DJANGO_DEFAULT_FROM_EMAIL='hello@localhost'

POSTGRES_PASSWORD=''
VALKEY_PASSWORD=''

GRANIAN_WORKERS='2'
